<?xml version="1.0"?>

<model>
    <name>Adaptive Guide</name>
    <version>1.0</version>
    <sdf version="1.6">adaptive_guide.urdf</sdf>

    <author>
        <name>John Dong</name>
        <email>john.dong93@gmail.com</email>
    </author>

    <description>
        Adaptive needle guide test bed.
    </description>
</model>